<!-- <html lang="en">
  <head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/myCss.css' %}" />
    <title>Story 8 - Home</title>
  </head>
  <body> 
		
		<div class="accordion">
		    
		    <h1 id="accordionhead_1">Heading1</h1>
		    <div id="accordioncontent_1" class="accordion-content">
		        Content 1
		    </div>

		    
		    <h1 id="accordionhead_2">Heading2</h1>
		    <div id="accordioncontent_2" class="accordion-content">
		        Content 2
		    </div>

		    
		    <h1 id="accordionhead_3">Heading3</h1>
		    <div id="accordioncontent_3" class="accordion-content">
		        Content 3
		    </div>

		   
		    <h1 id="accordionhead_4">Heading4</h1>
		    <div id="accordioncontent_4" class="accordion-content">
		        Content 4
		    </div>
		</div>
  		<script src="{% static 'js/myJs.js' %}"></script>
  </body>
</html>-->

<!--<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
</head>
<body>
 
<div id="accordion">
  <h3>Section 1</h3>
  <div>
    <p>
    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    </p>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>
    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
    suscipit faucibus urna.
    </p>
  </div>
  <h3>Section 3</h3>
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
    mauris vel est.
    </p>
    <p>
    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos.
    </p>
  </div>
</div>
 
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>-->

<!DOCTYPE html>
<html>
	<head>
		<title>Story 8</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>
		<div class="w3-container">

			<h2>Accordions</h2>
			<p>Usaha membuat Story 8</p>
			  
			<button onclick="toggle('Demo1')" class="w3-btn w3-block w3-black w3-left-align">My Profile</button>
				<div id="Demo1" class="w3-container w3-hide">
				  <h4>Something-Something</h4>
				  <p>Yada,yada, why would you want to know about me anyway.</p>
				</div>

			<button onclick="toggle('Demo2')" class="w3-btn w3-block w3-black w3-left-align">My Games</button>
				<div id="Demo2" class="w3-container w3-hide">
				  <h4>Yada-yada</h4>
				  <p>Give me a PS4 so I can play FF7R rather than doing this please</p>
				</div>

			<button onclick="toggle('Demo3')" class="w3-btn w3-block w3-black w3-left-align">Stuffs</button>
				<div id="Demo3" class="w3-container w3-hide">
				  <h4>What do I do off study</h4>
				  <p>What is off study ??? :c (Games and Memes)</p>
				</div>
		</div>
		<script src="{% static 'js/myJs.js' %}"></script>
	</body>
</html>